/* Reset some default browser styles */
body,
div,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

/* Style for the access denied message */
.access-denied-container {
  background: #ffcccc;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}

.access-denied-message a {
  color: blue;
  text-decoration: underline;
}

/* Style for the admin dashboard */
.admin-dashboard {
  background: linear-gradient(to bottom right, #a6bce8, #ffc0c0);
}

/* Style for the main container */
.main-container {
  padding: 20px;
}

/* Style for the dashboard title */
.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the dashboard cards */
.dashboard-cards {
  background: #f3cfc6; /* Add background color */
  border-radius: 20px; /* Adjust the border-radius to your preference */

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard-card {
  width: 200px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

/* Style for the user details section */
.user-details {
  background: #ffc0cb; /* Add background color */
  border-radius: 20px; /* Adjust the border-radius to your preference */
  margin-top: 20px;
}

/* Style for the bar chart */
.bar-chart {
  margin-top: 20px;
  width: 20%; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
}

.log-container {
  background: #f3cfc6; /* Add background color */
  padding: 20px;
  border-radius: 10px; /* Adjust the border-radius to your preference */
  margin-top: 20px;
}

/* Style for the log filter section */
.log-filter {
  margin-top: 20px;
  text-align: center;
}

.all-logs table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.all-logs th,
.all-logs td {
  border: 1px solid #b2beb5;
  padding: 8px;
  text-align: left;
}

.all-logs th {
  background-color: #b2beb5;
}

.all-logs tbody tr:nth-child() {
  background-color: #b2beb5;
}

.error-message {
  margin-top: 20px;
  text-align: center;
  color: red;
}

/* Style for the home link */
.home-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
